<div class="row hotel-detail">
    <div class="col-md-5">
        <div id="hotelCarousel" class="carousel slide" data-ride="carousel" >
            <!-- slides -->
            <div class="carousel-inner">
                {{#each hotel.images}}
                <div class=" carousel-item  {{#ifFirst @index}} active {{/ifFirst}}">
                    <img src="/public/uploads/{{this}}" alt="{{../hotel.name}}" />
                </div>
                {{/each}}
            </div> <!-- Left right -->
            <a class="carousel-control-prev" href="#hotelCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span> </a>
            <a class="carousel-control-next" href="#hotelCarousel" data-slide="next">
                <span class="carousel-control-next-icon"></span> </a>
            <!-- Thumbnails -->
            <ol class="carousel-indicators list-inline">
                {{#each hotel.images}}
                <li class="list-inline-item {{#ifFirst @index}} active {{/ifFirst}}"> <a
                        id="carousel-selector-{{@index}}" class="selected" data-slide-to="{{@index}}"
                        data-target="#hotelCarousel"> <img src="/public/uploads/{{this}}" class="img-fluid" alt="{{../hotel.name}}"/> </a>
                </li>
                {{/each}}

            </ol>
        </div>
    </div>
    <div class="col-md-7">
        <h2>{{hotel.name}}
            {{#if user}}
            <a class="fav" title="add to favourite" id="fav" href="javascript:;"><span
                    class="fa fa-star{{#if hotel.userfav}}-o{{/if}}"></span></a>
            {{/if}}
            </h2>
            <p class="mb-2 text-uppercase small font-weight-bold">{{hotel.category}}</p>
            {{#if hotel.showRating}}
            <p class="rating"><span id="stars">{{hotel.rating}}</span></p>
            {{/if}}
            <p><span class="mr-1"><strong>{{hotel.priceRange}}</strong></span></p>
            <p class="pt-1">{{hotel.address}},{{hotel.city}},{{hotel.state}},{{hotel.zipCode}}</p>
            <p>
                {{#each hotel.onSiteServices}}
                <span class="badge badge-primary ml-1">{{this}}</span>
                {{/each}}
            </p>
            <div class="row">
                <div class="col-md-12">
                    <iframe width="450" height="250"  src="https://maps.google.com/maps?q={{hotel.latitude}},{{hotel.longtitude}}&hl=es&z=14&amp;output=embed">
                    </iframe>
                </div>
            </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 hotel-detailed-ratings-and-reviews">
            <h3 class="mb-1">All Ratings and Reviews</h3>
            <div id="review_list">
                {{#each hotel.reviews_list}}
                <hr>
                <div class="reviews-members pt-4 pb-4">
                    <div class="media">
                        <a href="#"><span class="fa fa-user"></span></a>
                        <div class="media-body">
                            <div class="reviews-members-header">
                                <span class="star-rating float-right ratings">
                                    {{this.rating}}

                                </span>
                                <h6 class="mb-1"><a class="text-black" href="#">{{this.user_name}}</a></h6>
                                <p class="text-gray">{{this.dateOfReview}}</p>
                            </div>
                            <div class="reviews-members-body">
                                <p><b>{{this.Title}}</b></p>
                                <p>{{this.description}}</p>
                            </div>
                            <div class="reviews-members-footer">
                                <a class="total-like" href="#"><i class="fa fa-thumbs-up"></i> {{this.likes}}</a> <a
                                    class="total-like" href="#"><i class="fa fa-thumbs-down"></i>
                                    {{this.dislikes}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <h3>Add new review</h3>
            <form id="addReview-form" class="border-top pt-5"  method="post" action="javascript:;">
                <div class="form-group">
                    <label class="sr-only" for="Title">Title</label>
                    <input class="form-control rounded-0" type="text" id="Title" name="Title" placeholder="Enter Title">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="description">Description </label>
                    <textarea rows="3" name="description" class="form-control" id="description"
                        placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                    <span class="user-rating">
                        <input type="radio" name="rating" value="5"><span class="star"></span>
                        <input type="radio" name="rating" value="4"><span class="star"></span>
                        <input type="radio" name="rating" value="3"><span class="star"></span>
                        <input type="radio" name="rating" value="2"><span class="star"></span>
                        <input type="radio" name="rating" value="1"><span class="star"></span>
                    </span>

                </div>

                <button class="btn btn-primary" type="submit">Add Review</button>
            </form>

        </div>
    </div>
</div>