<div class="row hotel-list">


    {{#each hotels}}

    <div class="col-md-3">
        <div class="card">
            <a href="/hotels/{{this._id}}">
                <img class="card-img-top" src="/public/uploads/{{this.image}}" alt="{{this.name}}" />
            </a>
            <div class="card-body">

                <h3 class="card-title"><a href="/hotels/{{this._id}}" class="text-decoration-none"> {{this.name}} </a>
                </h3>
                <p>{{this.address}},{{this.city}},{{this.state}},{{this.zipCode}} </p>
                <p class="category">{{this.category}}</p>
                {{#if this.showRating}}
                <span class="badge-pill  badge-{{this.ratingclass}}"><i class="fa fa-star"></i> {{this.rating}}</span>
                {{/if}}
                <p>
                    {{#each this.onSiteServices}}
                    <span class="badge-pill  badge-secondary ml-1">{{this}}</span>
                    {{/each}}
                </p>
                <p><strong>{{this.priceRange}}</strong></p>
                {{#if this.showEdit}}
                <p><a href="/hotels/edit/{{this._id}}" class="btn btn-primary float-right">Edit</a></p>
                {{/if}}
            </div>

        </div>
    </div>
    {{else}}
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <p><strong>No hotels found matching the search
                        criteria.</strong></p></div>
            </div>

        </div>
    </div>
    {{/each}}
</div>