<section>
    <h1 style="text-align: center;">Racing Games</h1>
</section>

<section>
    <div class="row ">


        {{#each racing}}

        <div class="column-list">
            <div class="l-container">
                <a href="/racing/{{this._id}}">
                    {{!-- <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}" /> --}}

                    <div class="b-game-card">
                        <div class="b-game-card__cover"
                            style="background-image: url({{this.image}});">
                        </div>
                    </div>
                    <div class="card-body">

                        <h3 class="card-title"><a href="action/{{this._id}}"
                                class="text-decoration-none">
                                {{this.name}}
                            </a>
                        </h3>

                        <p>{{this.partAbout}} ....</p>
                        {{#if this.showRating}}
                        <span class="badge-pill  badge-{{this.ratingclass}}"><i
                                class="fa fa-star"></i>
                            {{this.rating}}</span>
                        {{/if}}
                    </div>
                </a>
            </div>
        </div>
        {{/each}}
    </div>
</section>