<div class="div-detail">
    <section class="heading-section">
        <h1 class="headingOne">{{racing.name}}</h1>
    </section>

    <section class="iframe-section">
        <iframe width="100%" height="500" src={{racing.link}} frameborder="0" allowfullscreen
            ng-show="showvideo">
        </iframe>
    </section>

    <section class="about-section">
        <div class="card-about" style="background-image: url({{racing.imageOne}});">
            <div class="inner">
                <h2 class="title">About the Game</h2>
                <time class="subtitle">{{racing.about}}<time>
            </div>
        </div>
    </section>

    <section class="instruction-section">
        <div class="card-instruction" style="background-image: url({{racing.imageTwo}});">
            <div class="inner-instruction" style="align-items: unset;">
                <h2 class="title">How to play</h2>
                {{#each racing.instruction}}
                <li class="subtitle" style="text-align: left;">{{this}}</li><br>
                {{/each}}
            </div>
        </div>
    </section>

    <section class="cheatcCode-section">
        <div class="card-cheat" style="background-image: url({{racing.imageThree}});">
            <div class="inner-instruction">
                <h2 class="title">Cheats</h2>
                {{#each racing.cheatCodesSet}}
                <li class="subtitle" style="text-align: left;">{{this}}</li><br>
                {{/each}}
            </div>
        </div>

    </section>

    <section class="url-section">
        <div class="card-url" style="background-image: url({{racing.imageFour}});">
            <div class="inner-instruction">
                <h2 class="title">Where can I find the game</h2>
                <li class="subtitle" style="text-align: left;margin-left:250px">
                    {{racing.urlNameOne}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href={{racing.urlOne}}
                        class="fa fa-external-link" target="_blank"></a>
                </li>
                <li class="subtitle" style="text-align: left;margin-left:250px">
                    {{racing.urlNameTwo}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href={{racing.urlTwo}}
                        class="fa fa-external-link"></a>
                </li>
                <li class="subtitle" style="text-align: left;margin-left:250px">
                    {{racing.urlNameThree}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href={{racing.urlThree}}
                        class="fa fa-external-link"></a>
                </li>
                <li class="subtitle" style="text-align: left;margin-left:250px">
                    {{racing.urlNameFour}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href={{racing.urlFour}}
                        class="fa fa-external-link"></a>
                </li>
                <li class="subtitle" style="text-align: left;margin-left:250px">{{racing.urlNameFive
                    }}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href={{racing.urlFive}}
                        class="fa fa-external-link"></a>
                </li>
                <li class="subtitle" style="text-align: left;margin-left:250px">
                    {{racing.urlNameSix}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href={{racing.urlSix}}
                        class="fa fa-external-link"></a>
                </li>
                <li class="subtitle" style="text-align: left;margin-left:250px">
                    {{racing.urlNameSeven}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href={{racing.urlSeven}}
                        class="fa fa-external-link"></a>
                </li>
                <li class="subtitle" style="text-align: left;margin-left:250px">
                    {{racing.urlNameEight}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href={{tracing.urlOnehis}}
                        class="fa fa-external-link"></a>
                </li>
            </div>
        </div>

    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-12 racing-detailed-ratings-and-reviews">
                <form id="addReview-form" class="border-top pt-5 addReview-form" method="post"
                    racing="javascript:;">
                    <h3>Add new review</h3>
                    <div class="form-group">
                        <label class="sr-only" for="Title">Title</label>
                        <input class="form-control rounded-0" type="text" id="Title" name="Title"
                            placeholder="Enter Title">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="description">Description </label>
                        <textarea rows="3" name="description" class="form-control" id="description"
                            placeholder="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <span class="user-rating">
                            <input type="radio" name="rating" value="5"><span class="star"></span>
                            <input type="radio" name="rating" value="4"><span class="star"></span>
                            <input type="radio" name="rating" value="3"><span class="star"></span>
                            <input type="radio" name="rating" value="2"><span class="star"></span>
                            <input type="radio" name="rating" value="1"><span class="star"></span>
                        </span>

                    </div>

                    <button class="btn btn-primary" type="submit">Add Review</button>
                </form>

                <h3 class="mb-1 review-text">All Ratings and Reviews</h3>

                <div id="review_list" class="review-list">
                    {{#each racing.reviews_list}}
                    <hr>
                    <div class="reviews-members pt-4 pb-4">
                        <div class="media">
                            <div class="media-body">
                                <div class="reviews-members-header">
                                    <span class="star-rating float-right ratings">
                                        {{this.rating}}

                                    </span>
                                    <h6 class="mb-1">{{this.user_name}}</h6>
                                    <p class="text-gray">{{this.dateOfReview}}</p>
                                </div>
                                <div class="reviews-members-body">
                                    <p><b>{{this.Title}}</b></p>
                                    <p>{{this.description}}</p>
                                </div>
                                <div class="reviews-members-footer">
                                    <a class="total-like" href="#"><i class="fa fa-thumbs-up"></i>
                                        {{this.likes}}</a> <a class="total-like" href="#"><i
                                            class="fa fa-thumbs-down"></i>
                                        {{this.dislikes}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>


            </div>
        </div>
    </div>
</div>